<h1>{{ title }}</h1>

<div id="container">
    <div id="sidebar">
        <label>Name:</label>
        <input type="text" [(ngModel)]="nameSearch" placeholder="Search by Name..." />
        <button (click)="nameSearch=''">X</button>
        <pre *ngFor="let name of worklistService.names">
        <span class="search-item" (click)="nameSearch=name">{{name}}</span>
    </pre>
        <br>
        <label>Modality:</label>
        <input type="text" [(ngModel)]="modalitySearch" placeholder="Search by Modality..." />
        <button (click)="modalitySearch=''">X</button>
        <pre *ngFor="let modality of worklistService.modalities">
        <span class="search-item" (click)="modalitySearch=modality">{{modality}}</span>
    </pre>
        <br>
        <label>Procedure:</label>
        <input type="text" [(ngModel)]="procedureSearch" placeholder="Search by Procedure..." />
        <button (click)="procedureSearch=''">X</button>
        <pre *ngFor="let procedure of worklistService.procedures">
        <span class="search-item" (click)="procedureSearch=procedure">{{procedure}}</span>
    </pre>
    </div>
    <div id="body">
        <app-datatable [title]="'Patients'" [data]="patients$" (onRowSelected)="onPatientSelected($event)"
            [filterKey]="'name'" [filterValue]="nameSearch">
            <app-datatable [title]="selectedPatient.name + '\'s Studies'" *ngIf="selectedPatient" [data]="studies$"
                [filterKey]="'modality'" [filterValue]="modalitySearch" (onRowSelected)="onStudiesSelected($event)">
                <app-datatable [title]="'Series for Study ID: ' + selectedStudy.id" *ngIf="selectedStudy"
                    [data]="series$" [filterKey]="'procedure'" [filterValue]="procedureSearch"
                    (onRowSelected)="onSeriesSelected($event)">
                    <app-datatable [title]="'Instances for Series ID: ' + selectedSeries.id" *ngIf="selectedSeries"
                        [data]="instances$" (onRowSelected)="onInstanceSelected($event)">
                    </app-datatable>
                </app-datatable>
            </app-datatable>
        </app-datatable>
    </div>
</div>