#container {
    display: flex;    
}

#sidebar {
    padding: 10px;
}

#body {
    flex: 1;
    padding: 10px;    
}

.search-item {
    cursor: pointer;

    &:hover {
        background-color: #ccc;
        color: maroon;
    }
}